$textColorMain: #5b5b5b;
$titleColorMain: #202020;
$menuColorMain: #fff;
$menuColorScrolled: #bebebe;
$scrollColorMain: #fff;
$scrollColorSecond: #bebebe;
$menuMobileIconImageMain: url('../img/menu_mobile_icon.png');
$menuMobileIconImageSecond: url('../img/menu_mobile_icon_gray.png');